body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
}

header {
    height: 200px;
    background-image: url(./images/headerBackground.jpeg);
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    text-align: left;
    padding: 0 25vw 0 11vw;
}

.headerTitle {
    font-size: 42px;
    color: #E3E3E1;
}

.headerSubtitle {
    font-size: 18px;
    margin-top: 10px;
    color: #E3E3E1;
}

p {
    font-size: 1.1rem;
    line-height: 1.25;
}
.sticky{
    position: sticky;
    top: 0;
}

nav {
    background-color: #133876;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0 10vw 0 10vw;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li a {
    text-decoration: none;
    color: #E3E3E1;
}

nav li a:hover {
    text-decoration: underline;
    color: #8BCAFF;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    padding-bottom: 20px;
}

.main-content {
    padding: 20px;
    flex: 1; 
}

hr {
    border: .5px solid #333;
    margin: 20px 15px;
}

.sidenav {
    padding: 20px;
    min-width: 150px; 
    flex: 0 1 auto; 
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.quick-links:hover {
  color: #064579;
}

a.button {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    border: 1px solid #ccc;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #1B90FF;
  }
  
.Gitbutton img {
    flex: 1; 
    height: 70px; 
    object-fit: cover; 
}
  
.button-text {
    margin-top: 5px;
    margin-bottom: 5px;
    pointer-events: none;
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.35;
    justify-content: space-between; 
}
  
.button-text small {
    display: block;
    font-size: 0.6em; 
    text-align: right;
    color: #fff;
}

.sidenav a.button {
    display: block;
    width: 200px;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 21px;
    background-color: #064579;
}

footer {
    background-color: #133876;
    text-align: center;
    padding: 20px;
}
